<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Ebenezer - Modulo de inventario</title>

    <!-- Boostrap, fuentes e iconos -->
    <link rel="stylesheet" href="Scripts/plugins/bootstrap/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="Scripts/plugins/ionicons/ionicons.min.css">
    <link href="Scripts/plugins/fontawesome/font-awesome.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="Scripts/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="Scripts/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="Scripts/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="Scripts/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Scripts/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="Scripts/plugins/SweetAlert/sweetalert2.min.css" rel="stylesheet">
    <link href="Scripts/plugins/DataDrop/datedropper.min.css" rel="stylesheet">
    <link href="css/SistemaEstilos.css" rel="stylesheet" />
</head>

<body>
    <!--Contenedor Global-->
    <div class="wrapper">
        <!-- Contenedor SideBar-->
        <div class="contentsidebar">
            <!-- Sidebar Holder -->
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <a href="javascript:void(0)">
                        <img style="width:75px;" src="images/bread.png" />
                    </a>

                </div>
                <ul class="list-unstyled components">

                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-list-alt"></i> Inventario
                        </a>

                        <ul class="collapse list-unstyled" aria-expanded="true" id="pageSubmenu">
                            <li id="estuchessubmenu"><a href="javascript:void(0)">Materia Prima</a></li>
                            <li id="instrumentossubmenu"><a href="javascript:void(0)">Productos</a></li>
                        </ul>
                        <a href="javascript:void(0)" id="proveedoressubmenu">
                            <i class="glyphicon glyphicon-inbox"></i> Proveedores
                        </a>
                        <a href="javascript:void(0)" id="remisionessubmenu">
                            <i class="glyphicon glyphicon-user"></i> Empleados
                        </a>

                    </li>
                </ul>

            </nav>
        </div>


        <!-- Page Content Holder - Contenedor NavBar-->
        <div id="content">
            <nav class="navbar navbar-default" id="cabezera_header">
                <div class="container-fluid">

                    <div class="navbar-header" id="Header_Nav">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="ion-navicon-round" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
                        </button>
                        <h3 class="TextNavHeader">Modulo de facturación</h3>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" id="Form_Right">
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <button id="Actualizar" type="button" class="btn waves-effect waves-light btn-primary btn-color" onclick="">
                                        <i class="ion-loop" data-pack="default" data-tags="refsdsdsresh"></i>
                                    </button>
                                    <button id="ADD" type="button" class="btn waves-effect waves-light btn-primary btn-color">
                                        <span class="btn-label">
                                            <i class="ion-coffee" data-pack="default" data-tags="add, include, new, invite, +"></i>
                                        </span>   Añadir Producto
                                    </button>
                                    <button data-toggle="tooltip" data-placement="bottom" id="Reporte" type="button" class="btn waves-effect waves-light btn-primary btn-color" onclick="" data-original-title="General reporte en pdf">
                                        <i class="icon ion-android-download" data-pack="default" data-tags="refresh"></i>
                                    </button>
                                    <button style="display:none;margin-right:15px;" data-toggle="tooltip" data-placement="bottom" id="CodigoBarra" type="button" class="btn waves-effect waves-light btn-primary btn-color" onclick="" data-original-title="Imprimir etiqueta de codigo de barras">
                                        <i class="icon ion-ios-barcode" data-pack="default" data-tags="refresh"></i>
                                    </button>
                                    <button style="display:none;margin-right:15px;" data-toggle="tooltip" data-placement="bottom" id="ReporteHistoricoRemision" type="button" class="btn waves-effect waves-light btn-primary btn-color" onclick="" data-original-title="Imprimir Reporte">
                                        <i class="ion-clipboard" data-pack="default" data-tags="refresh"></i>
                                    </button>
                                    <div class="input-group m-t-10" id="Busqueda_Form">
                                        <input type="number" id="Descripcion_Instrumento" class="form-control" placeholder="ID" maxlength="50">
                                        <span class="input-group-btn">
                                            <button id="Buscar_Boton" type="button" class="btn waves-effect waves-light btn-primary btn-color"><i class="ion-search active" data-pack="default" data-tags="magnifying glass"></i></button>
                                        </span>
                                    </div>


                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="MenuEmergente" class="MenuContextual">
                <div class="TrianguloContextual">
                </div>
                <ul>
                    <li class="LIMenu"><span class="icon ion-power CerrarS"></span><a href="@Url.Action(" MatarSesion ","Sistema ")">Cerrar Sesiòn</a></li>
                </ul>
            </div>

        </div>
    </div>

    <script src="Scripts/plugins/jquery/jquery-3.0.0.min.js"></script>
    <script src="Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Plugins Boostrap -->
    <script src="Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="Scripts/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="Scripts/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="Scripts/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="Scripts/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="Scripts/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="Scripts/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="Scripts/plugins/DataDrop/datedropper.min.js" type="text/javascript"></script>
    <script src="Scripts/plugins/chartjs/Chart.min.js"></script>
    <script src="Scripts/plugins/jspdf/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.8.0/dist/JsBarcode.all.min.js"></script>

    <script src="Scripts/plugins/jspdf/jspdf.plugin.autotable.js"></script>

    <!-- Cargando Boostrap y sus dependencias -->
    <script src="Scripts/bootstrap.min.js"></script>

    <!-- Scripts de MeLB -->
    <script src="Scripts/EventoNavegadorInventario.js"></script>


</body>

</html>