<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recuperación - Ebenezer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" autocomplete="off">
                    <img src="images/croissant.svg" class="imagelogo">
                    <span class="login100-form-title p-b-43">
						Recuperar Credenciales
					</span>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" id="usuario">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Ingrese su usuario</span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="mail" id="correo">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Ingrese su correo electronico</span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" id="contraseña">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Nueva contraseña</span>
                    </div>
                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                        </div>
                        <div>
                            <a href="index.html" class="txt1">
								Regresar a la pagina anterior
							</a>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button type="button" id="botonarecuperar" class="login100-form-btn">
							Restablecer Credenciales
						</button>
                    </div>
                </form>
                <div class="login100-recovery">
                    <img class="leftimagelogo" src="images/logo_login.png">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ff8207deb0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="Scripts/EventoNavegadorRecuperacion.js"></script>
    <script src="Scripts/MainLogin.js"></script>
</body>

</html>